body {
    background-color: gray;
}

.bloco {
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
    margin: 20px;
    background-image: url('../imagens/wallpaper002.jpg');
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left bottom;
}

#q3 {
    background-position: right top;
} 

#q4 {
    background-position: right bottom;
}